:root {
    --dark-blue: #352477;
    --purple: #9c71bb;
    --light-purple: #c372eb;
}

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display:flex;
    font-size:125%;
    justify-content:space-between;
    padding: 15px;
}

header a {
    text-decoration: none;
    color: var(--purple);
}

section {
    display:flex;
    font-size:150%;
    flex-direction: column;
    margin-top: 200px;
    text-align:center;
}

section p {
    margin: 15px 0 15px 0;
}

#start-game {
    align-self:center;
    background-color: var(--dark-blue);
    border-radius:8px;
    color:white;
    font-size:80%;
    height:43px;
    width:128px;
}

#start-game:hover {
    background-color: var(--light-purple);
}

#quiz {
    font-size:150%;
    margin:auto;
    width:fit-content;
}

#quiz button {
    margin-top: 10px;
    padding-left: 10px;
    font-size:55%;
    text-align:left;
    height:43px;
    width:200px;
}


#scoreSection { 
    display:flex;
    line-height:1.5em;
    font-size:150%;
    flex-direction: column;
    margin-top: 200px;
    align-items:center;
}


#inputField {
    display:flex;
}

#inputField input {
    margin: 0 10px 0 10px;
}

#inputField button {
    background-color: var(--dark-blue);
    border-radius:8px;
    color:white;
    font-size: 70%;
    padding: 15%;
}